
body{
	color: #FFFFFF;
	background-color: #444444;
	font-family: 'Righteous', cursive;
	font-size: 30pt;
	height: 100vh;
	margin: 0;

}

#clock{
	font-size: 30pt;
}

p {
	margin: 0;
	position: relative;
}

#clock-container {
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	margin: 0 auto;
	text-align: center;
	position: absolute;
}

button{
	padding: 15px;
	border-radius: 5px;
	cursor: pointer;
}

